.nav {
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav a.btn-success, .nav a.btn-light {
    margin: 0 5px;
}

.nav .nav-item.languages {
    margin-left: 50px;
}

.form-text .form-input-error {
    color: red;
}